.progress-message {
  background-color: #fce4e4;
  padding: 16px 14px;
  border-radius: 8px;
  margin-top: 24px;
  margin-bottom: 16px;
}

.progress-message-header {
  // font-size: 16px;
  font-weight: 600;
  color: #ff3b30;
}

.progress-message-body {
  color: #fe5047;
}