.modal-content {
  padding: 48px 16px 16px 16px;
  background-color: #fff;
  border-radius: 8px;
}


.modal-title {
  font-size: 18px;
  font-weight: 600;
}

.modal-text {
  font-size: 18px;
}

.registration-code {
  font-size: 32px;
  font-weight: bold;
}